<%- include('partials/header'); -%>
    <div class="page-wrapper">
        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl d-flex flex-column justify-content-center">
                Hai
            </div>
        </div>
        <%- include('partials/footer'); -%>
